<select chosen multiple class="form-control" 
	placeholder-text-multiple="'选择允许的文件后缀名'"
	no-results-text="'没有结果匹配'" ng-model="component.properties.fileOptions.allowedFileExtensions" >
  <option value="all">所有</option>
  <option value="jpg">jpg</option>
  <option value="bmp">bmp</option>
  <option value="gif">gif</option>
  <option value="pic">pic</option>
  <option value="png">png</option>
  <option value="tif">tif</option>
  <option value="txt">txt</option>
  <option value="doc">doc</option>
  <option value="html">html</option>
  <option value="pdf">pdf</option>
  <option value="rar">rar</option>
  <option value="zip">zip</option>
  <option value="avi">avi</option>
</select>