<form class="form-inline" role="form" ng-controller="fbOptionsController">
	<span class="label label-default clickable"><i class="glyphicon glyphglyphicon glyphicon-edit icon-white"></i>批量编辑</span>
	<span class="label label-default clickable" ng-click="changeShow()" ng-if="!showValue"><i class="glyphicon glyphglyphicon glyphicon-eye-open icon-white"></i>显示值</span>
	<span class="label label-default clickable" ng-click="changeShow()" ng-if="showValue"><i class="glyphicon glyphglyphicon glyphicon-eye-close icon-white"></i>隐藏值</span>
	<h4 class="under-line"></h4>
	<div class="form-group option-text" ng-if="showValue"><label>选项内容</label></div>
	<div class="form-group option-value" ng-if="showValue"><label>选项值</label></div>
	<div ui-sortable="sortableOptions" ng-model="component.properties.options">
		<div ng-repeat="item in component.properties.options">
			<div class="form-group">
				<div class="input-group" ng-class="{'option-text-single': !showValue, 'option-text': showValue}">
					<span class="input-group-addon">
						<input type="radio" ng-if="component.id=='radio'" ng-model="component.value" name="optionsRadios" value="{{item.value}}" />
		        		<input type="checkbox" ng-if="component.id=='checkbox'" ng-model="component.arrayValue[$index]" name="optionsCheckboxs" />
		        		<input type="checkbox" ng-if="component.id=='multiple-select'" ng-click="selectDefault($event,item)" name="optionsCheckboxs" />
		      		</span>
			    	<input type="text" class="form-control" ng-model="item.text" ng-focus="selectOption(item)" ng-change="changeOption(item)" placeholder="选项内容">
		    	</div>
		  	</div>
		  	<div class="form-group" ng-if="showValue">
			    <input type="text" class="form-control option-value" ng-model="item.value" placeholder="选项值">
		  	</div>
		  	<div class="form-group">
		  		<i class="glyphicon glyphicon-minus clickable" ng-click="removeOption($index)"></i>
		  		<i class="glyphicon glyphicon-plus clickable" ng-click="addOption($index)"></i>
		    	<i class="glyphicon glyphicon-move moveable"></i>
		   	</div>
		</div>
	</div>
</form>



		
		



