<label class="radio-inline"> 
	<input type="radio" ng-model="component.properties.visible" value="" />正常
</label>
<label class="radio-inline" ng-if="['text','textarea'].indexOf(component.id)>=0"> 
	<input type="radio" ng-model="component.properties.visible" value="readonly" />只读
</label>
<label class="radio-inline"> 
	<input type="radio" ng-model="component.properties.visible" value="disabled" />禁用
</label>
<label class="radio-inline"> 
	<input type="radio" ng-model="component.properties.visible" value="hidden" />隐藏
</label>


