<div class="nav-view form-group">{{component.title}}</div>
<div class="view form-group" ng-class="{'fb-hidden': component.properties.visible=='hidden'}">
	<label for="{{component.properties.overrideId}}" class="control-label"  ng-class="{'required':component.properties.required}">{{component.properties.label}}</label>
	<div ng-style="component.properties.style">
		<input type="hidden" fb-dynamic-model="component.properties.overrideId" fb-dynamic-model-pre="data" validator-required="{{component.properties.required}}" validator>
		
		<select class="form-control" multiple id="{{component.properties.overrideId}}" 
			ng-if="component.properties.selectPlugin==''" 
            ng-model="component.arrayValue"
			ng-disabled="component.properties.visible=='disabled'" 
			ng-options="option.text for option in component.properties.options">
		</select>
		
		<select class="form-control" multiple chosen id="{{component.properties.overrideId}}" 
			ng-if="component.properties.selectPlugin=='chosen'" 
			ng-model="component.arrayValue"
			ng-disabled="component.properties.visible=='disabled'" 
			placeholder-text-multiple="'选择一些选项'"
			no-results-text="'没有结果匹配'"
			ng-options="option.text for option in component.properties.options">
		</select>
		
		<p class="help-block">{{component.properties.description}}</p>
	</div>
</div>