

.sidebar .sidebar-wrapper  .nav li > a,
.off-canvas-sidebar .sidebar-wrapper  .nav li > a {
  margin: 10px 0px 0px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: .7;
  white-space: nowrap;
}
.sidebar .sidebar-wrapper  .nav p,
.off-canvas-sidebar .sidebar-wrapper  .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar-wrapper .nav .caret {
  margin-top: 12px;
  position: absolute;
  right: 1px;
}
.sidebar .sidebar-wrapper  .nav [data-toggle="collapse"] ~ div > ul > li > a,
.off-canvas-sidebar .sidebar-wrapper  .nav [data-toggle="collapse"] ~ div > ul > li > a {
  margin: 0;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.btn[data-toggle="collapse"][aria-expanded="true"] .caret,
a.dropdown-toggle[aria-expanded="true"] .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar .nav li.active > a[data-toggle]:after,
.sidebar .nav li.active > a[data-toggle]:before,
.off-canvas-sidebar .nav li.active > a[data-toggle]:after {
  display: none;
}

.sidebar .nav.child{
	margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 20px;
}

.sidebar .scroller {
  position: relative;
}


 
.image-thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-thumbnails > li {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #999;
  background-color: #ffffff;
}
.image-thumbnails > li > :first-child {
  display: block;
  position: relative;
}
.image-thumbnails > li > :first-child:focus {
  outline: none;
}
.image-thumbnails > li img {
	width: 300px;
	height: 150px;
	
}
.image-thumbnails > li .tags {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
  direction: rtl;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  background-color: transparent;
  border-width: 0;
  vertical-align: inherit;
}
.image-thumbnails > li .tags > .label-holder {
  opacity: 0.92;
  filter: alpha(opacity=92);
  display: table;
  margin: 1px 0 0 0;
  direction: ltr;
  text-align: left;
}
.image-thumbnails > li .tags > .label-holder:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.image-thumbnails > li > .tools {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.image-thumbnails > li > .tools.tools-right {
  left: auto;
  right: -30px;
}
.image-thumbnails > li > .tools.tools-bottom {
  width: auto;
  height: 28px;
  left: 0;
  right: 0;
  top: auto;
  bottom: -30px;
}
.image-thumbnails > li > .tools.tools-top {
  width: auto;
  height: 28px;
  left: 0;
  right: 0;
  top: -30px;
  bottom: auto;
}
.image-thumbnails > li:hover > .tools {
  left: 0;
  right: 0;
}
.image-thumbnails > li:hover > .tools.tools-bottom {
  top: auto;
  bottom: 0;
}
.image-thumbnails > li:hover > .tools.tools-top {
  bottom: auto;
  top: 0;
}
.image-thumbnails > li:hover > .tools.tools-right {
  left: auto;
  right: 0;
}
.image-thumbnails > li > .in.tools {
  left: 0;
  right: 0;
}
.image-thumbnails > li > .in.tools.tools-bottom {
  top: auto;
  bottom: 0;
}
.image-thumbnails > li > .in.tools.tools-top {
  bottom: auto;
  top: 0;
}
.image-thumbnails > li > .in.tools.tools-right {
  left: auto;
  right: 0;
}
.image-thumbnails > li > .tools > a,
.image-thumbnails > li > :first-child .inner a {
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding: 0 4px;
}
.image-thumbnails > li > .tools > a:hover,
.image-thumbnails > li > :first-child .inner a:hover {
  text-decoration: none;
  color: #C9E2EA;
}
.image-thumbnails > li .tools.tools-bottom > a,
.image-thumbnails > li .tools.tools-top > a {
  display: inline-block;
}
.image-thumbnails > li > :first-child > .text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.image-thumbnails > li > :first-child > .text:before {
  /* makes the inner text become vertically centered*/
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
  /* Adjusts for spacing */
}
.image-thumbnails > li > :first-child > .text > .inner {
  padding: 4px 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
}
.image-thumbnails > li:hover > :first-child > .text {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media only screen and (max-width: 480px) {
  .image-thumbnails {
    text-align: center;
  }
  .image-thumbnails > li {
    float: none;
    display: inline-block;
  }
}

.card .content hr{
	margin-top: 5px;
	margin-bottom: 15px;
}

.right-split {
	padding-right: 5px;
	border-right: 1px solid #a4acb9;
	margin-right: 5px;
}