<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-query">
        <div class="content">
          <div class="row">
            <div class="col-md-2">
              <h4 class="title">只显示最新版本</h4>
              <div class="form-group">
                <select class="form-control" ng-model="queryParams.latestVersion" ng-init="queryParams.latestVersion='true'">
                  <option value="true">是</option>
                  <option value="false">否</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <h4 class="title">状态</h4>
              <div class="form-group">
                <select class="form-control" ng-model="queryParams.suspended">
                  <option value="">全部</option>
                  <option value="false">激活</option>
                  <option value="true">挂起</option>
                </select>
              </div>
            </div>
            <div class="col-md-8">
              <h4 class="title">名称</h4>
              <div class="input-group">
                <input type="text" ng-model="queryParams.name" class="form-control" placeholder="输入定义名称">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-info" ng-click="queryDefinition()">搜索</button>
                  <button type="button" class="btn btn-info" ng-click="editDefinition()">导入</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <table ng-table="tableOptions" class="table table-striped ng-table">
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>


<script type="text/ng-template" id="definition-status-edit.html">
  <div class="form-group">
    <label class="control-label">流程名称</label> 
  	<input type="text" class="form-control" ng-model="formData.name" readonly></input>
  </div>
  <div class="form-group">
  	<label class="control-label">包括流程实例</label> 
	<div>
		<label class="radio-inline"> 
			<input ng-icheck type="radio" ng-model="formData.includeProcessInstances" ng-value="true" ng-checked="true" /> 是
		</label>
		<label class="radio-inline"> 
			<input ng-icheck type="radio" ng-model="formData.includeProcessInstances" ng-value="false" /> 否
		</label>
	</div>
  </div>
  <div class="form-group">
    <label class="control-label">执行时间(不填立刻执行)</label> 
    <input type="text" datetime-picker class="form-control" ng-model="formData.date"></input>
  </div>
 
</script>

