<div class="container-fluid" ng-show="detailId=='0'">
  <div class="card card-query">
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="title">开始时间</h4>
          <div class="input-daterange input-group form-group">
            <input type="text" class="form-control" ng-model="queryParams.startedAfter" datetime-picker/>
            <span class="input-group-addon">
              <i class="fa fa-exchange"></i>
            </span>
            <input type="text" class="form-control" ng-model="queryParams.startedBefore" datetime-picker/>
          </div>
        </div>
         <div class="col-md-6">
           <h4 class="title">是否完成</h4>
            <div class="form-group">
            <select class="form-control" ng-model="queryParams.finished">
              <option value="">全部</option>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6">
          <h4 class="title">结束时间</h4>
          <div class="input-daterange input-group form-group">
            <input type="text" class="form-control" ng-model="queryParams.finishedAfter" datetime-picker/>
            <span class="input-group-addon">
              <i class="fa fa-exchange"></i>
            </span>
            <input type="text" class="form-control" ng-model="queryParams.finishedBefore" datetime-picker/>
          </div>
        </div>
       
        <div class="col-md-6">
          <h4 class="title">流程定义</h4>
          <div class="input-group form-group">
            <select class="form-control" chosen  ng-model="queryParams.processDefinitionId" placeholder-text-single="'选择流程定义'" no-results-text = "'没有结果匹配'">
                <option value="">全部</option>
                <option ng-repeat="option in definitions" value="{{option.id}}">{{option.name+' (v'+option.version+')'}}</option>
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="queryInstance()">搜索</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="card">
    <div class="content">
      <table ng-table="tableOptions" class="table table-striped ng-table">
      </table>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="detailId!='0'">
  <div class="card card-detail">
    <div class="header">
      <h4 class="title">
        <span class="text-info right-split">v{{selectedItem.version}}</span>{{selectedItem.name}}
        <button type="button" class="btn btn-warning btn-sm pull-right" ng-click="gotoList()">返回列表</button>
      </h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-10">
           <span class="property"><label>ID:</label>{{selectedItem.id}}</span>
           <span class="property"><label>版本:</label>{{selectedItem.version}}</span>
           <span class="property"><label>名称:</label>{{selectedItem.name}}</span>
           <span class="property"><label>标识:</label>{{selectedItem.key}}</span>
           <span class="property"><label>状态:</label>{{selectedItem.suspended?'挂起':'激活'}}</span>
           <span class="property"><label>分类:</label>{{selectedItem.category}}</span>
           <span class="property"><label>描述:</label>{{selectedItem.description}}</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-info btn-block" ng-click="switchStaus(selectedItem,false)" ng-show="!selectedItem.suspended">挂起</button>
          <button type="button" class="btn btn-info btn-block" ng-click="switchStaus(selectedItem,true)" ng-show="selectedItem.suspended">激活</button>
          <button type="button" class="btn btn-danger btn-block" ng-click="deleteInstance(selectedItem.id)">删除</button>
          <button type="button" class="btn btn-info btn-block" ng-click="exportInstance(selectedItem)">导出</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-detail">
    <div class="content">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul uib-tabset active="active" type="tabs">
              <uib-tab index="0" heading="流程图"></uib-tab>
              <uib-tab index="1" heading="授权信息" select="queryAuth(selectedItem.id)"></uib-tab>
              <uib-tab index="2" heading="定时任务" select="queryJob(selectedItem.id)"></uib-tab>
              <uib-tab index="3" heading="流程实例" select="queryInstance(selectedItem.id)"></uib-tab>
          </ul>
        </div>
      </div>
      <div class="tab-content">
          <div class="tab-pane text-center" ng-class="{'active':active==0}">
            <img ng-src="{{getImageUrl(detailId)}}" />
          </div>
          <div class="tab-pane" ng-class="{'active':active==1}">
            <table ng-table="authTableOptions" class="table table-striped ng-table">
            </table>
            <br/>
            <button type="button" class="btn btn-info btn-block" ng-click="gotoList()">添加授权</button>
          </div>
          <div class="tab-pane" ng-class="{'active':active==2}">
            <table ng-table="jobTableOptions" class="table table-striped ng-table">
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="definition-status-edit.html">
  <div class="form-group">
    <label class="control-label">流程名称</label> 
  	<input type="text" class="form-control" ng-model="formData.name" readonly></input>
  </div>
  <div class="form-group">
  	<label class="control-label">包括流程实例</label> 
	<div>
		<label class="radio-inline"> 
			<input ng-icheck type="radio" ng-model="formData.includeProcessInstances" ng-value="true" ng-checked="true" /> 是
		</label>
		<label class="radio-inline"> 
			<input ng-icheck type="radio" ng-model="formData.includeProcessInstances" ng-value="false" /> 否
		</label>
	</div>
  </div>
  <div class="form-group">
    <label class="control-label">执行时间(不填立刻执行)</label> 
    <input type="text" datetime-picker class="form-control" ng-model="formData.date"></input>
  </div>
</script>

<script type="text/ng-template" id="definition-import.html">
  <input type="file" class="form-control" multiple file-input="fileOptions" ng-model="formData.file" >
</script>