<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-query">
        <div class="content">
          <h4 class="card-title">角色名称</h4>
          <div class="input-group">
            <input type="text" ng-model="query.name" class="form-control" placeholder="输入角色名称">
            <span class="input-group-btn">
              <button type="button" class="btn btn-info" ng-click="queryRole()">搜索</button>
              <button type="button" class="btn btn-info" ng-click="editRole()">创建</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
       	<div class="content">
          <table ng-table="tableOptions" class="table table-striped ng-table">
		  </table>
	 	</div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="role-edit.html">
  <div class="form-group" ng-class="{'has-error':editForm.name.$error.required}">
    <label class="control-label">名称</label> 
  	<input type="text" placeholder="名称" class="form-control" name="name" ng-model="formdata.name" required></input>
  </div>
  <div class="form-group">
  	<label class="control-label">备注</label> 
	<textarea placeholder="备注" class="form-control" ng-model="formdata.remark" rows="3"></textarea>
  </div>

  <div class="form-group">
  	<label class="control-label">菜单权限</label> <br/>
    <isteven-multi-select    
        input-model="formdata.menus"    
        output-model="formdata.roleMenus"
        button-label="name"
        item-label="name code"
        tick-property="selected"
        orientation="horizontal"
        group-property="group"
        translation="multiSelectLang">
   </isteven-multi-select>
  </div>
</script>

