<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">名称</h4>
              <div class="input-group">
                <input type="text" ng-model="query.name" class="form-control" placeholder="输入名称">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-info" ng-click="queryRoles()">搜索</button>
                  <button type="button" class="btn btn-info" ng-click="openModal()" style="margin-left:3px">创建</button>
                </span>
              </div>
            </div>
          </div>
          <div class="footer text-right">
            <hr />
                      总共：{{dataTotal}}条
        </div>
      </div>
    </div>
  </div>
<div ng-page="pageOptions" ng-model="total" load="load">   </div>    
  <div class="row">
   <div class="col-md-12">
     <div class="card">
       	<div class="content table-responsive table-full-width">
	      	<table ng-table="tableOptions" class="table table-striped table-hover ng-table">
			</table>
	 	</div>
  	</div>
   </div>
  </div>
</div>


<script type="text/ng-template" id="role-edit.html">
<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
  <form role="form" novalidate name="editForm">
 	<div class="form-group" ng-class="{'has-error':editForm.name.$error.required}">
      	<label class="control-label">名称</label> 
      	<input type="text" placeholder="名称" class="form-control" name="name" ng-model="formdata.name" required></input>
   	</div>
	<div class="form-group">
      	<label class="control-label">备注</label> 
		<textarea placeholder="备注" class="form-control" ng-model="formdata.remark" rows="3"></textarea>
   	</div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="cancel()">取消</button>
  <button type="button" class="btn btn-warning" ng-disabled="editForm.$invalid" ng-click="ok()">确定</button>
</div>
</script>