// bower:scss
// endbower
.design {
  padding-top: 51px;
}

.content-view {
  margin-right: 310px;
  margin-left: 210px;
  padding-top: 1px;
  -webkit-transition: margin 500ms ease;
  -moz-transition: margin 500ms ease;
  -ms-transition: margin 500ms ease;
  -o-transition: margin 500ms ease;
  transition: margin 500ms ease;
}

/* sidebar-nav */
.sidebar-nav {
  bottom: 0;
  background: #ccc;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;

  .nav-title {
 	margin-top: 10px; 
 	height : 31px;
  }
 
  .nav-header-top {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff
  }

  .nav-body {
    overflow: auto;
  }

  .nav-list {
    list-style: none;
  }

  .nav-header {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: bold;

    span.label {
      font-size: 10px;
      position: relative;
      top: -1px;
    }

    .popover {
      color: #999;
      text-shadow: none;
      min-width: 150px;
    }
  }

  .nav-content {
    display: list-item;
  }

  .active {
    display: list-item;
  }

  .accordion-group {
    border: none;
  }

  li {
    line-height: 25px;
  }

  .box {
    line-height: 25px;
    height: 25px;
  }
  .nav-view {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 22px;

    input {
      width: 90px;
      padding: 0 10px;
      background: #bbb;
      font-size: 10px;
      color: #999;
      line-height: 20px;
      height: 20px;
      position: relative;
      top: -1px;
    }
  }

  .view {
    display: none;
  }

  .remove, .copy {
    display: none;
  }

  .ui-sortable-helper .view {
    display: block;
  }

}

.sidebar-nav-left {
  float: left !important;
  left: 0;
  width: 200px;
}

.sidebar-nav-right {
  float: right !important;
  right: 0;
  width: 300px;
}

.sidebar-nav-left-collapsed .sidebar-nav-left .nav-header-top, .sidebar-nav-right-collapsed .sidebar-nav-right .nav-header-top {
  border-bottom: 0px;
}

.sidebar-nav-left-collapsed .sidebar-nav-left, .sidebar-nav-right-collapsed .sidebar-nav-right {
  width: 50px;
}

.sidebar-nav-left-collapsed .content-view {
  margin-left: 60px;
}

.sidebar-nav-right-collapsed .content-view {
  margin-right: 60px;
}

/* edit  */
.edit {

  .content-view {

    .fb-builder {
      margin-left: 0px;
      margin-top: 10px;
      padding: 30px 15px 15px;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      position: relative;
      word-wrap: break-word;
      overflow: auto;

      .lyrow .view {
        padding-top: 1px;
        padding-bottom: 1px;
      }

      .box .view {
        padding-top: 30px;
        padding-bottom: 5px;
      }

      .fb-hidden {
        opacity: 0.2;
      }

      .drag {
        top: 5px;
        right: 145px;
        z-index: 10;
      }

      .copy {
        position: absolute;
        top: 5px;
        right: 80px;
        z-index: 10;
      }

      .remove {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 10;
      }

      .drag, .copy, .remove {
        filter: alpha(opacity=20);
        opacity: 0.2;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
      }

      .lyrow:hover > .drag, .lyrow:hover > .copy, .lyrow:hover > .remove {
        filter: alpha(opacity=100);
        opacity: 1;
      }

    }

    .fb-builder:after {
      background-color: #F5F5F5;
      border: 1px solid #DDDDDD;
      border-radius: 4px 0 4px 0;
      color: #9DA0A4;
      content: "表单容器" !important;
      font-size: 12px;
      font-weight: bold;
      left: -1px;
      padding: 3px 7px;
      position: absolute;
      top: -1px;
    }

  }

  .box, .lyrow {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .drag {
    position: absolute;
    top: 0;
    right: 0;
    cursor: move;
  }

  .row-view:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
  }
  .row-view {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 1px 0;
    position: relative;
    padding: 25px 0 0;

    .column:after {
      background-color: #F5F5F5;
      border: 1px solid #DDDDDD;
      border-radius: 4px 0 4px 0;
      color: #9DA0A4;
      content: "Column";
      font-size: 12px;
      font-weight: bold;
      left: -1px;
      padding: 3px 7px;
      position: absolute;
      top: -1px;
    }

    .column {
      background-color: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 4px 4px 4px 4px;
      margin: 15px 0;
      padding: 39px 19px 24px;
      position: relative;

    }

  }

  .ui-draggable {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .handle {
    position: absolute;
    height: 98%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }

  .hover {
    outline: 2px dashed #ddd;
    border-radius: 4px 4px 4px 4px;
  }

  .focused {
    border: 1px solid #e8dbad;
    background-color: #fffbef;
    border-radius: 4px 4px 4px 4px;
  }

}

.fb-builder .nav-view {
  display: none;
}

/* single */
.required:after {
  color: #ef0400;
  content: ' *'
}

.icon-black {
  color: black;
  margin-right: 2px;
  top: 2px;
}

.icon-white {
  color: white;
  margin-right: 2px;
  top: 2px;
}

.accordion-group {
  padding-right: 15px;
  padding-left: 15px;
}

.clickable {
  cursor: pointer;
}

.moveable {
  cursor: move;
}

.option-text-single {
  width: 200px !important;
}

.option-text {
  width: 120px !important;
}

.option-value {
  width: 80px !important;
}

.tree-option {
  width: 120px !important;
}

.under-line {
  border-bottom: 1px solid #fff;
}

/*  ui-sortable */
.ui-sortable-placeholder {
  min-height: 40px;
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  visibility: visible !important;
}

.ui-sortable-helper {
  opacity: 0.8;
  .drag {
    display: none;
  }
}

/* preview */
.preview {
  .sidebar-nav {
    width: 0px;
    height: 0px !important;
  }

  .content-view {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 20px !important;
  }

  .fb-hidden {
    display: none !important;
  }

  .drag, .copy, .remove {
    display: none !important;
  }

  .nav-view {
    display: none;
  }
}

/* angular-ui-tree  */
.tree-node .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* note  */
.note-editor.note-frame.fullscreen {
  top: 51px !important;
}

#download-layout {
  display: none
}

#editorModal textarea, #downloadModal textarea {
  width: 100%;
  height: 280px;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#editorModal {
  width: 640px;
}

a.language-selected {
  font-style: italic;
  font-weight: bold;
}

/* scrollbar  */
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #f5f5f5;
}

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #f5f5f5;
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb {
  /*width: 10px;*/
  height: 16px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ccc;
}

/* CHOSEN PLUGIN */
.chosen-container {
  width: 100% !important;
}

.chosen-container-single .chosen-single {
  background: #ffffff;
  box-shadow: none;
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #CBD5DD;
  border-radius: 2px;
  cursor: text;
  height: auto !important;
  margin: 0;
  min-height: 30px;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  width: 100%;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 2px;
  box-shadow: none;
  color: #333333;
  cursor: default;
  line-height: 13px;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
}

/* fileinput PLUGIN */
.file-drop-zone {
  border: 1px dashed #2d6ba2;
}


/* cg-notify PLUGIN */
.cg-notify-message {
	width:250px;
	border:0;
	color: #ffffff;
	font-size:14px;
	opacity: .9;
	background-repeat: no-repeat;
	background-position: 15px 16px;

}
.cg-notify-close {
    color: #fff;
    opacity: .9;
    top: 9px;
}

.cg-notify-message > div {
	padding: 5px 5px 5px 15px;
}

.cg-notify-message:before{
  position: absolute;
  font-family: 'Glyphicons Halflings';
  font-size: 24px;
  line-height: 24px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: 0.2em 0.5em auto -4.5em;
}

.notify-warning:before {
  content: "\e162";
}
.notify-error:before {
  content: "\e086";
}
.notify-info:before {
  content: "\e006";
}
.notify-success:before {
  content: "\e013";
}
.notify-success {
	background-color: #1ab394;
}
.notify-error {
	background-color: #ed5565;
}
.notify-info {
	background-color: #23c6c8;
}
.notify-warning {
	background-color: #f8ac59;
}

/* confirm PLUGIN */
.confirm {
  .modal-content {
    background:#eee;
  }
	.modal-header {
    background-color:#fbfbfb;
	  text-align: center;
	}
	.modal-title {
	  font-size: 26px;
	}
	.modal-icon {
	  font-size: 84px;
	  color: #f8ac59;
	}
	.modal-footer {
	  text-align: center;
    border-top:1px solid #d5d5d5
	}
}

/* folat PLUGIN */
.folat{
	position:fixed;top:0px;left:0px;right:0px;bottom:0px;
	z-index:9999;
	background: rgba(0, 0, 0, 0.1);
	padding-top:20%; text-align:center;
}

.sk-spinner-wave {
	margin: 0 auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	div {
	  background-color: #222222;
	  height: 100%;
	  width: 6px;
	  display: inline-block;
	  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	}
	.sk-rect2 {
	  -webkit-animation-delay: -1.1s;
	  animation-delay: -1.1s;
	}
	.sk-rect3 {
	  -webkit-animation-delay: -1s;
	  animation-delay: -1s;
	}
	.sk-rect4 {
	  -webkit-animation-delay: -0.9s;
	  animation-delay: -0.9s;
	}
	.sk-rect5 {
	  -webkit-animation-delay: -0.8s;
	  animation-delay: -0.8s;
	}
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
