<div class="nav-view form-group">{{component.title}}</div>
<div class="view form-group" ng-class="{'fb-hidden': component.properties.visible=='hidden'}">
	<label for="{{component.properties.overrideId}}" class="control-label" ng-class="{'required':component.properties.required}">{{component.properties.label}}</label>
	<div ng-style="component.properties.style">
		<input type="hidden" fb-dynamic-model="component.properties.overrideId" fb-dynamic-model-pre="data" validator-required="{{component.properties.required}}" validator>
		
		<input type="file" class="form-control" id="{{component.properties.overrideId}}" 
			multiple fb-file-input="component.properties.fileOptions" ng-model="component.value" 
			ng-disabled="component.properties.visible=='disabled'">
		<p class="help-block">{{component.properties.description}}</p>
	</div>
</div>