<div class="nav-view form-group">
	<input ng-model="component.value" ng-change="changeColNum()" class="form-control" type="text">
</div>
<div class="view" ng-class="{'fb-hidden': component.properties.visible=='hidden'}">
	<div class="row row-view clearfix">
		<div class="{{'col-xs-'+ num}}" ng-repeat="num in component.arrayValue track by $index">
			<div fb-builder="component.forms[$index]" ng-if="!showForm"></div>
			<div fb-form="component.forms[$index]" ng-model="data" ng-if="showForm"></div>
		</div>
	</div>
</div>