<ul class="nav-list accordion-group" ng-repeat="group in groups">
	<li class="nav-header" ng-click="group.expanded = !group.expanded">
		<i class="glyphicon icon-white" ng-class="{'glyphicon-chevron-right': !group.expanded, 'glyphicon-chevron-down': group.expanded}"></i>
		{{group.title}}
		<div class="pull-right" fb-popover="{title:'关于'+group.title, content:group.description,placement:'right'}">
			<i class="glyphicon glyphicon-question-sign icon-black clickable"></i>
        </div>
	</li>

	<!-- Group components -->
	<li class="nav-content" ng-show="group.expanded" ui-sortable="draggableOptions" ng-model="group.components">
		<div ng-repeat="component in group.components" ng-class="{true :'lyrow', false :'box'}[component.type=='column']" ng-init="component.showButton=true">
			<span class="drag label label-default" ng-show="component.showButton"> 
				<i class="glyphicon glyphicon-move icon-black"></i>拖动
			</span>
			<div fb-component="component"></div>
		</div>
	</li>
</ul>

