<ul class="nav-list accordion-group">
    <li class="nav-content rows">
    	<div ng-repeat="propertyPackage in component.propertyPackages">
		    <div class="form-group"  ng-repeat="property in propertyPackage.properties">
				<label>{{property.title}}</label> 
				<div class="pull-right" fb-popover="{title:'关于'+property.title, content:property.description,placement:'left'}">
					<i class="glyphicon glyphicon-question-sign clickable"></i>
		        </div>
				<div fb-property="property"></div>
			</div>
		</div>
	</li>
</ul>