.nav {
    > li{
        > a:hover,
        > a:focus{
            background-color: transparent;
        }
        
    }
}
.navbar{
    border: $none;
    border-radius: 0;
    font-size: $font-size-navbar;

    .navbar-brand{
        font-weight: $font-weight-bold;
        margin: $navbar-margin-brand;
        padding: $navbar-padding-brand;
        font-size: $font-size-large-navbar;
    }
    .navbar-nav{
    	 > li {
    	 	line-height:55px;
 			border-left:1px solid #E1E1E1;
    	 
    	 }
         > li > a {
         	background-color:#333;
 			color:#333;
 			display:block;
 			line-height:inherit;
 			text-align:center;
 			height:100%;
 			width:auto;
 			min-width:50px;
 			margin:0;
 			position:relative;

             padding: $navbar-padding-a;

            i,
            p{
                display: inline-block;
                margin: 0;
            }
            i{
                position: relative;
                top: 1px;
            }
         }
         > li > a.btn{
             margin: $navbar-margin-a-btn;
             padding: $padding-base-vertical $padding-base-horizontal;
         }
         
         .nav-user-photo{
			margin:-4px 8px 0 0;
			border-radius:100%;
			border:2px solid #FFF;
			max-width: 55px;
		}
		.user-info{
			max-width:100px;
			display:inline-block;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			text-align:left;
			vertical-align:top;
			line-height:15px;
			position:relative;
			top:12px;
			small{
				display:block;
			}
		}
         
    }
    .btn{
       margin: $navbar-margin-btn;
       font-size: $font-size-base;
    }
    .btn-simple{
        font-size: $font-size-medium;
    }
}

.navbar-nav > li > .dropdown-menu{
    border-radius: $border-radius-extreme;
    margin-top: 5px;
}

.navbar-default {
    background-color: $bg-nude;
    border-bottom: 1px solid $medium-gray;

	.container-fluid {
		padding-right: 0;
	}
    .brand{
        color: $font-color !important;
    }
    .navbar-nav{
        > li > a:not(.btn){
            color: #f5f5f5;
            i{
            	font-size: 20px;
            }
        }

        > .active > a,
        > .active > a:not(.btn):hover,
        > .active > a:not(.btn):focus,
        > li > a:not(.btn):hover,
        > li > a:not(.btn):focus {
            background-color: #66615B;
            color: $info-color;
            @include opacity(1);
        }

        > .dropdown > a:hover .caret,
        > .dropdown > a:focus .caret {
            border-bottom-color: $info-color;
            border-top-color: $info-color;

        }

        > .open > a,
        > .open > a:hover,
        > .open > a:focus{
            background-color: transparent;
            color: $info-color;
        }

        .navbar-toggle:hover,.navbar-toggle:focus {
            background-color: transparent;
        }

    }

    &:not(.navbar-transparent) .btn-default:hover{
        color: $info-color;
        border-color: $info-color;
    }
    &:not(.navbar-transparent) .btn-neutral,
    &:not(.navbar-transparent) .btn-neutral:hover,
    &:not(.navbar-transparent) .btn-neutral:active{
            color: $dark-gray;
        }
}

.navbar-form{
   @include box-shadow(none);
   .form-control{
        @include light-form();
        height: 22px;
        font-size: $font-size-navbar;
        line-height: $line-height-general;
        color: $light-gray;
    }
    .navbar-transparent & .form-control,
    [class*="navbar-ct"] & .form-control{
        color: $white-color;
        border: $none;
        border-bottom: 1px solid rgba($white-color,.6);
    }

}

.navbar-ct-primary{
    @include navbar-color($bg-primary);
}
.navbar-ct-info{
    @include navbar-color($bg-info);
}
.navbar-ct-success{
    @include navbar-color($bg-success);
}
.navbar-ct-warning{
    @include navbar-color($bg-warning);
}
.navbar-ct-danger{
    @include navbar-color($bg-danger);
}

.navbar-transparent{
    padding-top: 15px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: $none;

    .icon-bar {
        background-color: $white-color;
    }
     .navbar-collapse,
     .navbar-form {
        border-color: transparent;
    }

    &.navbar-default .navbar-toggle:hover,
    &.navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}
