.table{
    thead,
    tbody,
    tfoot{
        tr > th,
        tr > td{
            border-top: 1px solid $table-line-color;
        }
    }
   > thead > tr > th{
       border-bottom-width: 0;
       font-size: $font-size-h5;
       font-weight: $font-weight-light;
   }
   .th-icon{
   		font-size: 16px;
   }
   
   .th-btn-group{
   		.btn{
   			margin: 0 5px;
   		}
   }
   
}
.table-striped{
    tbody > tr:nth-of-type(2n+1) {
        background-color: #fff;
    }
    tbody > tr:nth-of-type(2n) {
        background-color: $pale-bg;
    }
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td{
        padding: 15px 8px;
    }
}


/* NG TABLES */
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

table.ng-table{
	clear:both;
	margin-top:6px !important;
	margin-bottom:6px !important;
	max-width:none !important;
}


table.ng-table thead .sorting:after,
table.ng-table thead .sorting_asc:after,
table.ng-table thead .sorting_desc:after,
table.ng-table thead .sorting_asc_disabled:after,
table.ng-table thead .sorting_desc_disabled:after{
	position:absolute;
	bottom:8px;
	right:8px;
	display:block;
	font-family:'Glyphicons Halflings';
	opacity:0.7
}

table.ng-table thead .sorting,
table.ng-table thead .sorting_asc_disabled,
table.ng-table thead .sorting_desc_disabled {
  background: transparent;
}

table.ng-table thead .sorting,
table.ng-table thead .sorting_asc,
table.ng-table thead .sorting_desc,
table.ng-table thead .sorting_asc_disabled,
table.ng-table thead .sorting_desc_disabled{
	cursor:pointer;
	position:relative
}
table.ng-table thead .sorting_asc:after{
  background: transparent;
	content:"\e155"
}
table.ng-table thead .sorting_desc:after{
	content:"\e156"
}
table.ng-table thead .sorting:after{
	opacity:0.2;
	content:"\e150"
}

/* ng pagination */
.ng-pagination {
	border-top:1px solid #eee;
	padding-top:10px;
	nav{
		margin:0 !important;
		text-align:right;
		ul.pagination{
			margin:2px 0 !important;
		}

	}
	
	select{
		padding:0 0 !important;
		height:28px;
		width:77px;
		display:inline-block;
	}
	
	.pagination > .active > a, .pagination > .active > span, 
	.pagination > .active > a:hover, .pagination > .active > span:hover, 
	.pagination > .active > a:focus, .pagination > .active > span:focus{
		background-color: #31b0d5;
		border-color: #31b0d5;
	}
}
