<div class="row ng-pagination">
  <div class="col-xs-12 col-sm-5">
    <select class="form-control input-sm" ng-model="param.pageSize" ng-change="pageSizeChange()">
      <option ng-repeat="item in pageList" ng-value="item">{{item}} 条/页</option>
    </select> 共 {{total}} 条
  </div>
  <div class="col-xs-12 col-sm-7">
    <nav>
      <ul uib-pagination ng-change="pageNumChange()" total-items="total"
        items-per-page="param.pageSize" ng-model="param.pageNum"
        max-size="5" class="pagination-sm" boundary-links="true"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;">
      </ul>
    </nav>
  </div>
</div>