<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">
            <span class="text-info right-split">v{{selectedItem.version}}</span>{{selectedItem.name}}
            <button type="button" class="btn btn-warning pull-right" ng-click="returnList()">返回上一级</button>
          </h4>
        </div>
        <div class="content">
          <hr>
          <div class="row">
            <div class="col-md-4">
              <span class="label label-success pull-left">标识：{{selectedItem.key}}</span><br/>
              <span class="label label-success pull-left">备注：{{selectedItem.description}}</span><br/>
              <span class="label label-success pull-left">最后修改时间：{{selectedItem.lastUpdateTime}}</span>
            </div>
            <div class="col-md-8 text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            版本 <span class="badge">{{selectedItem.version}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="num in versionArray()"><a href="" ng-click="queryHistory(selectedItem.key,num)">版本：{{num}}</a></li>
                </ul>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info" ng-click="editModel(selectedItem.id)" ng-disabled="!lastVersion">编辑</button>
                  <button type="button" class="btn btn-info" ng-click="copyModel(selectedItem)">复制</button>
                  <button type="button" class="btn btn-info" ng-click="deleteModel(selectedItem.id)" ng-disabled="!lastVersion">删除</button>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info" ng-click="deployModel(selectedItem.id)" ng-disabled="!lastVersion">部署</button>
                  <button type="button" class="btn btn-info" ng-click="exportModel(selectedItem)">导出</button>
              </div>
              <button type="button" class="btn btn-info" ng-click="designModel(selectedItem.id)" ng-show="lastVersion">模型设计</button>
              <button type="button" class="btn btn-info" ng-click="newestModel(selectedItem)" ng-show="!lastVersion">变成新版本</button>
            </div>
          </div>
          <div class="row">
            <img ng-src="{{getImageUrl(selectedItem.id)}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
  