<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">Sidebar Background</li>
            <li class="adjustments-line text-center">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                        <span class="badge filter badge-white active" data-color="white"></span>
                        <span class="badge filter badge-black" data-color="black"></span>
                </a>
            </li>

			<li class="header-title">Sidebar Active Color</li>
            <li class="adjustments-line text-center">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                        <span class="badge filter badge-primary" data-color="primary"></span>
                        <span class="badge filter badge-info" data-color="info"></span>
                        <span class="badge filter badge-success" data-color="success"></span>
                        <span class="badge filter badge-warning" data-color="warning"></span>
                        <span class="badge filter badge-danger active" data-color="danger"></span>
                </a>
            </li>

        </ul>
    </div>
</div>
