

.sidebar .sidebar-wrapper  .nav li > a,
.off-canvas-sidebar .sidebar-wrapper  .nav li > a {
  margin: 10px 0px 0px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: .7;
  white-space: nowrap;
}
.sidebar .sidebar-wrapper  .nav p,
.off-canvas-sidebar .sidebar-wrapper  .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar-wrapper .nav .caret {
  margin-top: 12px;
  position: absolute;
  right: 1px;
}
.sidebar .sidebar-wrapper  .nav [data-toggle="collapse"] ~ div > ul > li > a,
.off-canvas-sidebar .sidebar-wrapper  .nav [data-toggle="collapse"] ~ div > ul > li > a {
  margin: 0;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.btn[data-toggle="collapse"][aria-expanded="true"] .caret,
a.dropdown-toggle[aria-expanded="true"] .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar .nav li.active > a[data-toggle]:after,
.sidebar .nav li.active > a[data-toggle]:before,
.off-canvas-sidebar .nav li.active > a[data-toggle]:after {
  display: none;
}

.sidebar .nav.child{
	margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 20px;
}

.sidebar .scroller {
  position: relative;
}


.card .card-title {
  margin: 0;
  color: #252422;
  font-weight: 300;
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card .content .card-title {
  margin: 10px 0 10px 0;
}




/* TABLES */
.table-bordered {
  border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}


table.ng-table{
	clear:both;
	margin-top:6px !important;
	margin-bottom:6px !important;
	max-width:none !important;
}
table.table-bordered.ng-table{
	border-collapse:separate !important;
}

table.table-bordered.ng-table th,
table.table-bordered.ng-table td{
	border-left-width:0;
}
table.table-bordered.ng-table th:last-child,
table.table-bordered.ng-table td:last-child{
	border-right-width:0
}
table.table-bordered.ng-table tbody td{
	border-bottom-width:0
}

table.ng-table thead .sorting:after,
table.ng-table thead .sorting_asc:after,
table.ng-table thead .sorting_desc:after,
table.ng-table thead .sorting_asc_disabled:after,
table.ng-table thead .sorting_desc_disabled:after{
	position:absolute;
	bottom:8px;
	right:8px;
	display:block;
	font-family:'Glyphicons Halflings';
	opacity:0.7
}

table.ng-table thead .sorting,
table.ng-table thead .sorting_asc_disabled,
table.ng-table thead .sorting_desc_disabled {
  background: transparent;
}

table.ng-table thead .sorting,
table.ng-table thead .sorting_asc,
table.ng-table thead .sorting_desc,
table.ng-table thead .sorting_asc_disabled,
table.ng-table thead .sorting_desc_disabled{
	cursor:pointer;
	position:relative
}
table.ng-table thead .sorting_asc:after{
  background: transparent;
	content:"\e155"
}
table.ng-table thead .sorting_desc:after{
	content:"\e156"
}
table.ng-table thead .sorting:after{
	opacity:0.2;
	content:"\e150"
}

.table-footer{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.ng-pagination {
	border-top:1px solid #eee;
	padding-top:10px;
	nav{
		margin:0 !important;
		text-align:right;
		ul.pagination{
			margin:2px 0 !important;
		}

	}
	
	select{
		padding:0 0 !important;
		height:28px;
		width:77px;
		display:inline-block;
	}
}
nav.ng-table{
	margin:0 !important;
	text-align:right;
}
nav.ng-table ul.pagination{
	margin:2px 0 !important;
}
select.ng-table{
	padding:0 0 !important;
	height:28px;
	width:47px;
	display:inline-block;
}