<div class="nav-view form-group">{{component.title}}</div>
<div class="view form-group" ng-class="{'fb-hidden': component.properties.visible=='hidden'}">
	<label for="{{component.properties.overrideId}}" class="control-label">{{component.properties.label}}</label>
	<div ng-style="component.properties.style" ng-init="component.value=component.value==null?component.properties.options[0].value:component.value">
		<input type="hidden" fb-dynamic-model="component.properties.overrideId" fb-dynamic-model-pre="data" validator-required="{{component.properties.required}}" validator>
		
		<div class="row" ng-if="component.properties.columns!='auto'">
			<div class="{{'col-xs-'+ 12/component.properties.columns}}" ng-repeat="num in [1,2,3,4,5,6]| limitTo: component.properties.columns">
				<div class="radio" ng-repeat="item in component.properties.options">
					<label ng-if="$index% (component.properties.columns)== $parent.$index"> 
						<input type="radio" ng-model="component.value" ng-disabled="component.properties.visible=='disabled'" value="{{item.value}}" /> {{item.text}}
					</label>
				</div>
			</div>
		</div>

		<div class="radio" ng-if="component.properties.columns=='auto'">
			<label class="radio-inline" ng-repeat="item in component.properties.options"> 
				<input type="radio" ng-model="component.value" ng-disabled="component.properties.visible=='disabled'" value="{{item.value}}" /> {{item.text}}
			</label>
		</div>

		<p class="help-block">{{component.properties.description}}</p>
	</div>
</div>