<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flow Modeler</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-tour/build/css/bootstrap-tour.css" />
	<link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
	<link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
	<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
	<link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
	<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
	<!-- endbower -->

    <!-- build:css({.tmp,app}) styles/editor/editor.css -->
    <link rel="stylesheet" media="screen" href="editor/css/editor.css" type="text/css"/>
    <!-- endbuild -->
    
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css" type="text/css"/>
    <link rel="stylesheet" href="styles/style-common.css" >
    <link rel="stylesheet" href="styles/style-editor.css">
    <!-- endbuild -->

</head>
<body ng-app="flowableModeler" ng-cloak>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="main-header">
        <div class="fixed-container">
            <div class="navbar-header">
                <a ng-click="backToLanding()" class="landing-logo"  title="{{'GENERAL.MAIN-TITLE' | translate}}">
                    <img ng-src="{{appResourceRoot}}images/flowable-logo.png" ng-srcset="{{appResourceRoot}}images/flowable-logo.png 1x, {{appResourceRoot}}images/flowable-logo@2x.png 2x">
                </a>
            </div>
        </div>
    </div>

    <div class="alert-wrapper" ng-cloak>
        <div class="alert fadein {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
            <i class="glyphicon"  ng-class="{'glyphicon-ok': alerts.current.type == 'info', 'glyphicon-remove': alerts.current.type == 'error'}"></i>
            <span>{{alerts.current.message}}</span>

            <div class="pull-right" ng-show="alerts.queue.length > 0">
                <span class="badge">{{alerts.queue.length + 1}}</span>
            </div>
        </div>
    </div>

    <div id="main" class="wrapper full clearfix" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
    </div>


	<!-- build:js(app) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
	<script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
	<script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/nv.d3.js"></script>
	<script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
	<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
	<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
	<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
	<script src="bower_components/momentjs/moment.js"></script>
	<script src="bower_components/mousetrap/mousetrap.js"></script>
	<script src="bower_components/sizzle/dist/sizzle.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script src="bower_components/prototype.js/dist/prototype.js"></script>
	<script src="bower_components/prototype.js/dist/prototype.min.js"></script>
	<!-- endbower -->
	<script src="bower_components/jquery-grab-bag/javascripts/jquery.autogrow-textarea.js"></script>
	<!-- endbuild -->
	


	<!-- build:js(app) scripts/editor.js -->
	<script src="editor/path_parser.js" type="text/javascript"></script>
	<script src="editor/i18n/translation_en_us.js" type="text/javascript"></script>
	<script src="editor/i18n/translation_signavio_en_us.js" type="text/javascript"></script>
	<script src="editor/oryx.debug.js" type="text/javascript"></script>
	<!-- endbuild -->
	
	<!-- build:js(app) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/constants/app-cfg.js"></script>
	<script src="scripts/constants/editor-config.js" type="text/javascript"></script>
	<script src="scripts/constants/url-config.js" type="text/javascript"></script>
	<script src="scripts/constants/toolbar.js" type="text/javascript"></script>
	<script src="scripts/constants/properties.js" type="text/javascript"></script>
	<script src="scripts/constants/eventbus.js" type="text/javascript"></script>
	<script src="scripts/constants/tour.js" type="text/javascript"></script>
	<script src="scripts/constants/editor-utils.js" type="text/javascript"></script>
	
	<script src="scripts/factorys/identity-services.js" type="text/javascript"></script>
	<script src="scripts/factorys/editormanager.js" type="text/javascript"></script>
	<script src="scripts/factorys/editor-directives.js" type="text/javascript"></script>
	
	
	<script src="scripts/controllers/editor-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/stencil-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/toolbar-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/header-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/select-shape-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/define-data-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/process-navigator-controller.js" type="text/javascript"></script>
	<script src="scripts/controllers/toolbar-default-actions.js" type="text/javascript"></script>
	
	<script src="scripts/properties/properties-default-controllers.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-execution-listeners-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-event-listeners-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-assignment-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-fields-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-form-properties-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-in-parameters-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-multiinstance-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-ordering-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-out-parameters-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-task-listeners-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-collapsed-subprocess-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-form-reference-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-sequenceflow-order-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-condition-expression-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-signal-definitions-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-signal-scope-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-message-definitions-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-message-scope-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-duedate-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-decisiontable-reference-controller.js" type="text/javascript"></script>
	<script src="scripts/properties/properties-custom-controllers.js" type="text/javascript"></script>
	<script src="scripts/properties/flowable-header-custom.js" type="text/javascript"></script>
	<script src="scripts/properties/flowable-toolbar-custom-actions.js" type="text/javascript"></script>
	<!-- endbuild -->


</body>
</html>
