
<div class="fixed-plugin">
  <div class="dropdown show-dropdown" ng-class="{true: 'open', false: ''}[isOpen]" >
    <a href="#" ng-click="isOpen=!isOpen">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title">菜单栏背景色</li>
      <li class="adjustments-line text-center">
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <span class="badge filter badge-white" ng-class="{active: sidebarBackground == 'white'}" ng-click="switchSidebarBackground('white')"></span>
          <span class="badge filter badge-black" ng-class="{active: sidebarBackground == 'black'}" ng-click="switchSidebarBackground('black')"></span>
        </a>
      </li>

      <li class="header-title">菜单栏选中颜色</li>
      <li class="adjustments-line text-center">
        <a href="javascript:void(0)" class="switch-trigger active-color">
          <span class="badge filter badge-primary" ng-class="{active: sidebarActiveColor == 'primary'}" ng-click="switchSidebarActiveColor('primary')"></span>
          <span class="badge filter badge-info" ng-class="{active: sidebarActiveColor == 'info'}" ng-click="switchSidebarActiveColor('info')"></span>
          <span class="badge filter badge-success" ng-class="{active: sidebarActiveColor == 'success'}" ng-click="switchSidebarActiveColor('success')"></span>
          <span class="badge filter badge-warning" ng-class="{active: sidebarActiveColor == 'warning'}" ng-click="switchSidebarActiveColor('warning')"></span>
          <span class="badge filter badge-danger" ng-class="{active: sidebarActiveColor == 'danger'}" ng-click="switchSidebarActiveColor('danger')"></span>
        </a>
      </li>
    </ul>
  </div>
</div>