<select multiple chosen class="form-control" 
	placeholder-text-multiple="'选择允许的文件类型'"
	no-results-text="'没有结果匹配'" ng-model="component.properties.fileOptions.allowedFileTypes" >
  <option value="all">所有</option>
  <option value="image">image</option>
  <option value="bmp">bmp</option>
  <option value="text">text</option>
  <option value="video">video</option>
  <option value="audio">audio</option>
  <option value="flash">flash</option>
  <option value="object">object</option>
  <option value="html">html</option>
</select>